# Python
py_scripts/__pycache__/
py_scripts/face_tracker/__pycache__/
py_scripts/livelink/__pycache__/
py_scripts/*.py[cod]
py_scripts/.venv/

# Node
node_modules/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db