#rehabExercise{
    position: fixed;

    width: 100%;

    /* centre horizontalement */
    display: flex;
    flex-direction: row;

    justify-content: center;


}

#rehabExerciseStepIndicator{

    position: absolute;

    /* Position vertical */
    top: 25vh;

    margin: 0 auto;

}

/* Barre de progression de la tenue de la face */
#rehabExHoldBar{
    position: absolute;

    /* Position vertical de la barre*/
    top: 80vh;

    margin: 0 auto;


    width: 35%;
    height: 20px;

    background: white;

    border-radius: 10px;

    overflow: hidden;
    border: 2px solid #ddd;
}

#rehabHoldBarProgress{
    height: 100%;
    width: 0%;

    background: #2a7fff;

    transition: width 0.1s linear;


}

/* */

#rehabExerciseSkipButton{
    position: absolute;

    top: 90vh;

    margin: 0 auto;

    padding: 8px 32px;

}

#rehabExerciseSkipButton:hover{
    background: var(--glow-color);
}

#rehabExerciseSkipButton:active{
    background: var(--shadow-glow-color);
}

#rehabExerciseScoreIndicator{
    position: absolute;

    --glow-color: rgb(255, 99, 76);

    padding: 10px 25px;

    top: 50vh;
    margin: 0 auto;

    /*background: var(--glow-color);
*/

    text-align: center;

}