body {
    margin:0;
    overflow:hidden;
}

#debug {
    position:absolute;

    top:0;
    left:0;

    color:white;

    background:rgba(0,0,0,0.5);

    padding:5px;
    font-family:monospace;
}

.uiInterface{

    color:white;
    background:rgba(0,0,0,0.5);
    padding:5px;
    font-family:monospace;

}

.glow{
    /* Effet de Glow */
    --glow-color: rgba(51, 176, 255);
    --shadow-glow-color: rgb(3, 130, 205);

    border-radius: 17px;

    background: rgba(255, 255, 255, 0.05);

    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(10px);

    color: white;
    font-family: 'Roboto', system-ui, sans-serif;
    font-weight: 600;

    font-size: 16px;
    letter-spacing: 1px;

    transition: 0.2s;



    box-shadow: 0 0 15px var(--glow-color),
    0 0 75px var(--glow-color);
}


/* Gestion des boutons de couleurs */
.blueButton{
    background-color: #5497ff;
    --glow-color: rgba(51, 176, 255);
}

.blueButton:hover{
    background-color: #2572f8;
    --glow-color: rgba(37, 114, 248);
}

.blueButton:active{
    background-color: #1b57cc;
    --glow-color: rgba(27, 87, 204);
}

.redButton{
    --glow-color: #d9534f;
    background-color: #d9534f;
}

.redButton:hover{
    --glow-color: #d63834;
    background-color: #d63834;
}

.redButton:active{
    --glow-color: #c60801;
    background-color: #c60801;
}

.greyButton{
    background-color: #b6b6b6;
}

.greyButton:hover{
    background-color: #8a8989;
}

.greyButton:active{
    background-color: #6e6565;
}

.greenButton{
    background-color: #5cb85c;
    --glow-color: #5cb85c;
}

.greenButton:hover{
    background-color: #5a8f5a;
    --glow-color: #5a8f5a;
}

.greenButton:active{
    background-color: #3a7c3a;
    --glow-color: #3a7c3a;
}
.
