body {
    margin:0;
    overflow:hidden;
}


#debug {
    position:absolute;

    top:0;
    left:0;

    color:white;

    background:rgba(0,0,0,0.5);

    padding:5px;
    font-family:monospace;
}

.uiInterface{

    color:white;
    background:rgba(0,0,0,0.5);
    padding:5px;
    font-family:monospace;

}