#symSliders{
    position: fixed;       /* fixe la div sur l’écran */

    overflow-y: scroll;    /* scroll vertical si le contenu dépasse */
    overflow-x: hidden;  /* empêche le scroll horizontal */

    height: 100vh;        /* hauteur = hauteur de la fenêtre */
    width: 30%;

    left: 70vw;

    color:white;
    background:rgba(0,0,0,0.5);
    padding:5px;
    font-family:monospace;

    text-align: center;

}

#symSliders h1{
    margin-bottom: 30px;
}

.symmetrySlider {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0;

}

#symSlidersControls{
    display: flex;

    flex-direction: row;

    justify-content: center;

    flex-wrap: wrap;

    gap: 8px 0;

    margin-bottom: 30px;





}

.symmetrySliderControl{
    color: white;

    margin-left: 3px;
    margin-right: 3px;

    padding: 5px 6px;

    border: none;
    border-radius: 10px;

}