#symSliders{
    position: fixed;       /* fixe la div sur l’écran */

    overflow-y: scroll;    /* scroll vertical si le contenu dépasse */
    overflow-x: hidden;  /* empêche le scroll horizontal */

    height: 100vh;        /* hauteur = hauteur de la fenêtre */
    width: 20%;

    left: 80vw;

    color:white;
    background:rgba(0,0,0,0.5);
    padding:5px;
    font-family:monospace;

}

.symmetrySlider {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}

#symSlidersControls{
    display: flex;

    flex-direction: row;

    justify-content: center;


}